


<div class="event-box col-5 offset-3">
	<br/>
	<h1 align="center" style="font-size: 25px;">Create New Event</h1>
	<%= simple_form_for @event do |f| %>
		<%= f.input :title %>
		<%= f.input :start_date, as: :date, input_html: { class: "datepicker" }%>
		<%= f.input :end_date, as: :date, input_html: { class: "datepicker" }%>
		<%= f.input :location %>
		<%= f.input :details %>
		<br />
		<div align="center">
			<%= f.submit 'Create', class: 'btn btn-primary' %>
		</div>
	<% end %>	
	<br/>
</div>

<script>
$('#datepicker').datepicker({format: 'mm-dd-yyyy'});
</script>