<div class="heading" style="position:relative">
	<h2>Career Opportunities</h2>
	<div style="position:absolute;bottom:0;right:0;" class="admin">
		<% if user_signed_in? %>
			<div class="nav-item" style="padding-right:50px;" align="right">
					<%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary', style: 'color: grey;' %>
			</div>
		<% else %>
			<div class="nav-item" style="padding-right:50px;" align="right">
				<%= link_to 'Admin', new_user_session_path, class: 'btn-btn-secondary', style: 'color: grey;'  %>
			</div>
		<% end %>
	</div>
</div>
	
<div class="careers section animated fadeIn delay-0s">
	<div class="new-job-action row-content">
		<div class="flex-item">
			<% if user_signed_in? %>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-success new-job-full" data-toggle="modal" data-target="#fullModal" title="create new full-time job post">
					New Full-time Job
				</button>
			<% end %>
		</div>
		<div class="flex-item">
			<% if user_signed_in? %>
			<!-- Button trigger modal -->
				<button type="button" class="btn btn-success new-job-part" data-toggle="modal" data-target="#partModal" title="create new part-time job post">
					New Part-time Job
				</button>
			<% end %>
		</div>
	</div>
	<div class="row-content">
		<div class="job-list flex-item">
			<h3>Full-Time Positions</h3>
			<% @fulltimejobs.each do |fulltimejob| %>
				<div class="frosty job-post">
					<% if user_signed_in? %>
						<div class="job-actions">
							<%= link_to 'X', fulltimejob_path(fulltimejob), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger', title: 'delete job post' %>
							<%= link_to 'Edit', edit_fulltimejob_path(fulltimejob), class: 'btn btn-primary', title: 'edit job post' %>
						</div>
					<% end %>
					<u><h3><%= link_to fulltimejob.title, fulltimejob_path(fulltimejob)%></h3></u>
					<%= fulltimejob.location %>
				</div>
			<% end %>
		</div>

		<div class="job-list flex-item">
			<h3>Part-Time Positions</h3>
			<% @parttimejobs.each do |parttimejob| %>
				<div class="frosty job-post">
					<% if user_signed_in? %>
						<div class="job-actions">
							<%= link_to 'X', parttimejob_path(parttimejob), method: :delete, data: {confirm: 'Are you sure you want to  delete this?'}, class: 'btn btn-danger', title: 'delete job post'  %>
							<%= link_to 'Edit', edit_parttimejob_path(parttimejob), class: 'btn btn-primary', title: 'edit job post' %>
						</div>
					<% end %>
					<u><h3><%= link_to parttimejob.title, parttimejob_path(parttimejob) %></h3></u>
					<h4><%= parttimejob.location %></h4>
				</div>
			<% end %>	
		</div>


	</div>


</div>

<!-- Modal -->
<div class="modal fade" id="fullModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#022747;">
        <h3>New Full-time Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background:#022747;">
         <%= simple_form_for @fulltimejob do |f| %>
						<%= f.input :title %>
						<%= f.input :location %>
						<%= f.input :details %>
						<br />
						<div align="center">
							<%= f.submit 'Create', class: 'btn btn-primary' %>
						</div>
						<br/>
				<% end %>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="partModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#022747">
        <h3>New Part-time Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background:#022747">
        <%= simple_form_for @parttimejob do |f| %>
					<%= f.input :title %>
					<%= f.input :location %>
					<%= f.input :details %>
					<br />
					<div align="center">
						<%= f.submit 'Create', class: 'btn btn-primary' %>
					</div>
				<% end %>
				<br/>
      </div>
    </div>
  </div>
</div>
      