<div class="partners-heading">
  <h2 class="col-10 offset-1" style="font-size: 40px;">Partners</h2>
</div>


<div class="col-7 offset-2">

    
    
    <div class="item animated zoomIn">
      <div class="item-content">
        <h3>France, Luxemburg, Belgium and Switzerland</h3>
        <div style="float:right;">
          <a href="https://query-informatique.com/solutions-mainframe" target="_blank">
            <%= image_tag('query-logo.png', :class=> 'img-fluid', :width => '400', :padding => '20') %>
          </a>
        </div>
        <u><h4>Query Informatique</h4></u>
        <h5>
          Contact: Rui Manuel Costa <br/>
          Email: rmcosta@query-informatique.com <br/>
          Phone: 014-997-3300<br/>
          <a href="https://query-informatique.com/solutions-mainframe" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>          
          Immeuble Le Noblet-Hall A<br/>                                                       
          1 Boulevard Charles De Gaulle<br/>
          92700 Colomes, France
        </h5> 
      </div> 
    </div>

    <hr class="animated zoomIn delay-2s">

    <div class="item animated zoomIn delay-1s">
      <div class="item-content">
        <h3>Spain, Portugal, and Latin America</h3>
        <div style="float:right; background: white; padding: 10px;">
          <a href="http://www.supporteamiberia.com" target="_blank">
            <%= image_tag('SupporteamIberia.png', :class => 'img-fluid', :width => '400', :padding => '20') %>
          </a>
        </div>
        <u><h4>SUPPORTEAM IBERIA, S.L</h4></u> 
        <h5>
          Contact: Tito Boente<br/>
          Email: info@supporteamiberia.com or tboente@supporteamiberia.com<br/>
          Phone: +34-659 473 653<br/>
          <a href="http://www.supporteamiberia.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          Avda. República Argentina, 54 – 4º -7<br/>                                 
          – 46701 – Gandía – Valencia <br/>                                                    
          SPAIN<br/>
        </h5>
      </div>
      <br/> 
    </div>

    <hr class="animated zoomIn delay-2s">

    <div class="item animated zoomIn delay-2s">
      <div class="item-content">
        <h3>Israel</h3>
        <div style="float:right;">
          <a href="https://www.mosttechnologies.com" target="_blank">
            <%= image_tag('most-tech.png', :class => 'img-fluid', :width => '400', :padding => '20') %>
          </a>
        </div>
        <u><h4>MOST Software Technologies, LTD.</h4></u>
        <h5>
          Phone: +972(3)911-5511<br/>
          <a href="https://www.mosttechnologies.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          7 Martin Gehl st.<br/> Petach Tikva 4951254<br/>
        </h5>
      </div>
      <br/> 
    </div>

    <hr cclass="animated zoomIn delay-2s">

    <div class="item animated zoomIn delay-3s">
      <div class="item-content">
        <h3>United Kingdom & Ireland</h3>
        <div style="float:right;">
          <a href="https://www.fitzsoftware.com" target="_blank">
            <%= image_tag('fitz.png', :class => 'img-fluid', :width => '400') %>
          </a>
        </div>
        <u><h4>Fitz Software & Co.</h4></u>
        <h5>
          Email: sales@fitzsoftware.com<br/>
          Phone: +353-21-4832131<br/>
          <a href="https://www.fitzsoftware.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          Kilcolta House<br/>
          Crosshaven, County Cork<br/>
          P43 E129, Ireland<br/>
        </h5>
      </div>
      <br/>
    </div>
 
    <hr class="animated zoomIn delay-2s">

    <div class="item animated zoomIn delay-4s">
      <div class="item-content">
        <u><h4>Eccox Software.</h4></u>
        <div style="float:right;">
          <a href="https://www.eccox.com/en" target="_blank">
            <%= image_tag('eccox.png', :class => 'img-fluid', :width => '400', :padding => '20') %>
          </a>
        </div>
        <h5>
          Contact: Thiago da Costa e Silva<br/>
          Phone: +55 11 4133-1969<br/>
          Mobile: +55 11 97514-3240<br/>
          <a href="https://www.eccox.com/en" target="_blank" style="color: #4287f5;">Website</a>
        </h5>
        <h5>
        In the global software market, Eccox is a pioneer in developing innovative solutions focused on smarter technologies to optimize software development and testing processes on the z/OS platform.
        Eccox provides impactful results for continuous process improvement goals for software engineering, application quality assurance, automated software development testing and optimization of computing resources to achieve optimal Mainframe efficiency.
        Eccox establishes strategic partnerships with global technology companies. Together with our Partners solutions, it is possible to join the Eccox mainframe expertise with optimal software technologies, people and processes to optimize Our Customers Mainframe environments to reduce CPU consumption, increase the availability of IT resources and achieve better performance of business-critical applications to thrive a cost effective Mainframe environment.
        </h5>
      </div>
      <br/>
    </div>
 

</div>  
