
<div class="beach animated fadeIn ">
		<br/>
		<br/>
		<br/>
		<h3 align="center" class="animated zoomIn">Relax knowing your enterprise needs are covered</h3>
		<br/>
		<br/>
		<br/>
</div>	

<br/>
<br/>		

<div class="services animated fadeInDown delay-1s">
	<div align="center">
		<h2 style="padding: 15px;">Trident Services provides the following services to all IBM Platforms, including System z, p, and i.</h2>
	</div>
</div>

<br/>
<br/>	


<div class="serv col-10 offset-1">
	<div class="animated fadeInLeft delay-2s">	
		<u><h3>Managed Services</h3></u>
		<%= image_tag('services.jpg', :size => '500x300', :class => 'pic img-fluid') %>
		<br/>
		<p class="col-7">Our Mainframe Managed Services provides a complete and holistic service offering for your mainframe environment. This broad solution includes the more traditional roles such as DBA, Performance/Capacity Management, Technical Project Management, Application performance, Batch/Online performance improvements, High Availability, Disaster Recovery, etc. </p>
		<br />
		<%= link_to 'learn more', mainframeServices_path, class: 'link-color', class: 'btn btn-primary' %>
	</div>
		
	<br/>
	<br/>
	<br/>
	<br/>
	<hr class="animated fadeIn delay-3s">
	<br/>

	<div class="animated fadeInRight delay-4s text-right">		
		<u><h3>Staff Augmentation & Maintenace Support</h3></u>
		<%= image_tag('support.jpg', :size => '500x300', :class => 'man img-fluid') %>
		<br/>
		<p align="right" class="offset-1">One of the challenges facing many IT organizations today is lack of internal resources. Obtaining skilled IT personnel is becoming harder but remains a necessity for supporting our ever changing business environment.</p>
		<br/>
		<%= link_to 'learn more', maintenaceSupport_path, class: 'link-color', class: 'btn btn-primary' %>
	</div>

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<hr class="animated fadeIn delay-4s">
	<br/>


		
	<div class="animated fadeInLeft delay-5s">	
		<u><h3>Extended System Programming Support</h3></u>
		<%= image_tag('program.jpg', :size => '500x300', :class => 'program img-fluid') %>
		<br/>
		<p class="col-7">We provide toll-free technical phone support for problem determination, documentation of technical problems and problem resolution. ESPS covers all IBM operating system and subsystem software as well as all ISV operating system related software.</p>
		<br/>
		<%= link_to 'learn more', systemSupport_path, class: 'btn btn-primary' %>
	</div>	
		<br/>
</div>	
<br/>

		