<!DOCTYPE html>
<html>
  <head>
    <title>Trident Services, Inc.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    
  </head>

  <body>

    <div id="flex-content-container">

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

    <div class="pic">
      <%= link_to image_tag('trident5.png'), root_path %>
    </div>

  
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0"> 
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: 'navbar-brand' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Software', software_path, class: 'navbar-brand' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Services', services_path, class: 'navbar-brand' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Support', support_path, class: 'navbar-brand' %>
              </li>
              <li class="nav-item">
                <%= link_to 'News', events_path, class: 'navbar-brand' %>
              </li>
              <li class="nav-item">
                <%= link_to 'About Us', aboutUs_path, class: 'navbar-brand' %>
              </li>
              <li>
                <%= link_to 'Careers', careers_path, class: 'navbar-brand' %>
              </li>  
              <li class="nav-item">
                <%= link_to 'Contact Us', contact_path, class: 'navbar-brand' %>
              </li> 
            </ul>
        </div>  
     
      
    </nav>


<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


    <%= yield %>
  </div>

    <div id="footer">
      <div class="align">
        <div class="row">

          <!-- <div class="col-sm">
            <div align="center">
            <br/>
            <a href="https://www.facebook.com/Trident-Services-Inc-324504532327/" target="_blank">
              <span class="fa fa-facebook-square fa-3x social-button"></span></a>
            <a href="https://twitter.com/tridentservices?lang=en" target="_blank">
              <span class="fa fa-twitter-square fa-3x social-button"></span></a>
            <a href="https://www.linkedin.com/company/trident-services-inc./about/" target="_blank">
              <span class="fa fa-linkedin fa-3x social-button"></span></a>
             </div> 
          </div> -->

        <div class="col-12 col-sm">
          <br/>
            <span><%= image_tag('ibm2.0.jpg', :class => 'footer-pics')%></span>
            <span><%= image_tag('bob.jpg', :class => 'footer-pics')%></span>
            <span><%= image_tag('Destination_z_print.jpg', :class => 'footer-pics') %></span>
            <span><%= image_tag('gsa_logo.jpg', :class => 'footer-pics') %></span>
        </div>   

         
            <div class="col-sm text-right">
              <h5>Trident Services, Inc.</h5>
              <p style="font-size: 19px;">1260 41st Ave, Suite K, 
              <br/>
              Capitola, CA, (831) 465-7661
            </div> 
        

        </div>  
      </div>
    </div>
  </body>
</html>
